html {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 248, 248);
}

:root { 
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

h1{
  font-size:5em;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: .3em;
  color: lightgreen;
}







